{% extends 'common/base.html' %}
{% load static %}

{% block content %}


    <div class="card mb-3 mt-2" style="max-width: 600px;">
        <div class="card-body bg-dark text-light">

            <!-- Image Display -->

            {% if profile.profile_picture %}
                <img src="{{ profile.profile_picture.url }}" alt="Profile Picture" class="img-thumbnail mb-3"
                     style="width: 150px; height: 150px; object-fit: cover;">
            {% else %}
                <img src="{% static 'images/default_profile_picture.png' %}"
                     alt="Default Profile Picture" class="img-thumbnail mb-3"
                     style="width: 150px; height: 150px; object-fit: cover;">
            {% endif %}
            
            <!-- User's Information Display -->
            <h2>{{ profile.user.username }}</h2>
            <hr>
            <p><strong>First Name:</strong> {{ profile.user.first_name }}</p>
            <p><strong>Last Name:</strong> {{ profile.user.last_name }}</p>
            <p><strong>Email:</strong> {{ profile.user.email }}</p>
            <p><strong>Age:</strong> {{ profile.age }}</p>
            <p><strong>Climber Type:</strong> {{ profile.type_of_climber }}</p>
            <p><strong>Bio:</strong> {{ profile.bio }}</p>
            <p><strong>Wish List:</strong></p>
            <ul>
                {% for peak in profile.wish_list.all %}
                    <li>{{ peak.name }}</li>
                {% empty %}
                    <p>No peaks yet.</p>
                {% endfor %}
            </ul>
            <hr>
            <!-- Buttons -->
            {% if request.user.profile == profile %}
                <a href="{% url 'profile_edit' user.profile.pk %}" class="btn btn-outline-light">Edit Profile</a>
                <a href="{% url 'profile_delete' user.profile.pk %}" class="btn btn-outline-light">Delete Profile</a>
            {% endif %}

        </div>
    </div>


{% endblock %}
