{% extends 'common/base.html' %}
{% load static %}

{% block style %}
	<style>
        body {
            background-image: url('{% static "images/blog_page_background.jpg" %}');
            background-size: cover;
            background-position: top;
            height: 100vh;
            color: white;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="p-3 mb-5 bg-dark bg-opacity-75">
        <h1 class=" mb-4 text-light text-center"> Create Post </h1>
        
        <!-- Add Post Form  -->
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">

                <div class="col-md-4 mx-auto">
                    {{ form.title.label_tag }}
                    {{ form.title }}
                    {{ form.title.errors }}
                </div>
            </div>

            <div class="mb-3">
                <div class="col-md-4 mx-auto">
                    {{ form.category.label_tag }}
                    {{ form.category }}
                </div>
            </div>

            <div class="mb-3">
                <div class="col-md-4 mx-auto">
                    {{ form.content.label_tag }}
                    {{ form.content }}
                </div>
            </div>
            
            <div class="mb-3">
                <div class="col-md-4 mx-auto">
                    {{ form.post_image.label_tag }}
                    {{ form.post_image }}
                    {{ form.post_image.errors }}
                    
                </div>
            </div>
    

            <!-- Form Button -->
            <div class="d-flex justify-content-center">
                <button class="btn btn-outline-light" style="width: 33%;">Post</button>
            </div>
        </form>
    </div>
{% endblock %}