{% extends 'common/base.html' %}
{% load static %}

{% block style %}
	<style>
        body {
            background-image: url('{% static "images/blog_page_background.jpg" %}');
            background-size: cover;
            background-position: top;
            height: 100vh;
            color: white;
        }
    </style>
{% endblock %}

{% block content %}
<div class="p-3 mb-5 bg-dark bg-opacity-75">
        <h1 class=" mb-4 text-light text-center"> Edit Comment </h1>
        
        <!-- Edit Form -->
        <form method="post">
            {% csrf_token %}

            <div class="mb-3">
                <div class="col-md-4 mx-auto">
                    {{ form.content.label_tag }}
                    {{ form.content }}
                </div>
            </div>
    

            <!-- Form Button -->
            <div class="d-flex justify-content-center">
                <button class="btn btn-outline-light" style="width: 33%;">Edit</button>
            </div>
        </form>
    </div>

{% endblock %}